#window{
    width: 1000px;
    border:solid 1px;
    position:relative;
    margin: 0 auto;
}

#box1{
    background: #DFDFDF;
}

#box2{
    background: #DFDFDF;
}

input.text {
    margin-bottom:12px;
    width:95%;
    padding: .4em;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

#tabSearch {
    height: 100px;
}

#searchEmail {
    width: 250px;
}

#tabs {
    height: 500px;
}