
.centerdiv{
	width: 50%;
  height: 50%;
  margin: auto;
   top: 0; left: 0; bottom: 0; right: 0;
  position: fixed;
  z-index: 999;
}

.centerbuttons {
  
   position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 50px;
  transform: translate(-50%, -50%);
	
}

.buttons {
	
	position:relative;
	
	height: 50px;
	width: 140px;
}