.navbar-brand>img {
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;


   /* probably not needed anymore, but doesn't hurt */
   -o-object-fit: contain;
   object-fit: contain; 

}

.navbar-custom {
    background-color: rgb(73, 35,101);
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #fff;
    background-color:rgb(87, 80,71);
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
ul.nav a:hover { background-color: rgb(127, 86, 197) !important; }