
#wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    position: relative;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    background: rgb(73, 35,101);
    color: #fff;
    transition: all 0.3s;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: rgb(73, 35,101);
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #000;
}

#content {
    text-align: center;
    padding-left: 250px;
}